

.modalContainer{
background-color: white;
opacity: 1;
box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
position: fixed;
font-size: 1.5rem;
min-height: 20rem;
min-width: 40rem;
border-radius: 15px;

}

.contentModalContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.closeBtn{
    display: flex;
    justify-content: flex-end;
    font-size: 1.2rem;
    outline: none;
    margin-right: 0.5rem;
}

.closeBtnSpan{
    cursor: pointer;
    opacity: 0.5;
}

.checkContainer{
    display: flex;
    justify-content: center;
    font-size: 4rem;
    color: #62E03A;
}

.downloadBtn{
    font-size: 1rem;
    background: linear-gradient(153deg, rgb(115, 225, 231) 28%, rgb(141, 212, 233) 73%);
    color: white;
    padding: 0.5rem 1.5rem;
    border-radius: 50px 50px;
    border: none;
    cursor: pointer;
    margin-bottom: 20px;
    text-decoration: none;
}

/*///////// Mobile Responsive /////*/

@media (max-width: 450px ){

    .modalContainer{
        min-width:0%;
        min-height: 0%;
        padding: 0.5rem;
    }

    .contentModalContainer{
    margin: 0 20px;
    }

    .BsPatchCheck{
        height: 2em;
        width: 2em;
    }

}
